<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="3130a5b0-6535-45b6-9d53-2103eee75199"
            Publisher="CN=davrous"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>SoftEngine</DisplayName>
    <PublisherDisplayName>davrous</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="SoftEngine.App">
        <VisualElements
            DisplayName="SoftEngine"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="SoftEngine"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>